<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Demos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href="Content/index.css" rel="stylesheet" />
</head>

<body data-ng-controller="loginController">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    
    <div class="container-fluid">
        <div class="col-sm-12" ng-show="iHaveUser">
            <br>
            <br>
            <div class="col-sm-6 col-sm-offset-3 jumbotron">
                <center>
                    <h3 class="text-info">Welcome to Reddit <img src="Content/images/angularShield.png" width="60" height="80"  />pp</h3>
                    <form ng-submit="login()" class="form-horizontal">
                        <div class="form-froup">
                            <label for="username" class="col-sm-6 control-label">Username:</label>
                            <div class="col-sm-6">
                            <input id="username" ng-model="user.username" type="text" placeholder="Username" required/>
                            </div>
                        </div>
                        <br>
                        <div class="form-froup">
                            <label for="password" class="col-sm-6 control-label">Pasword:</label>
                            <div class="col-sm-6">
                            <input id="password" ng-model="user.password" type="password" placeholder="Password" required/>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="btn-group" role="group">
                            <button  type="submit" value="Login"  class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log In
                            </button>
                        </div>
                    </form>
                    <br>
                    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                </center>
                <div class="text-right">
                <a class="text-info" ng-click="changeHaveUser()" style="text-align: right;">Create an account</a>
                </div>
                
            </div>
        </div>
        <div class="col-sm-12" ng-hide="iHaveUser">
            <br>
            <br>
            <div class="col-sm-6 col-sm-offset-3 jumbotron">
                
                <h3 class="text-info text-center"> Afiliate into Reddit<img src="Content/images/angularShield.png" width="60" height="80" />pp</h3>

                <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
                <form ng-submit="affiliate()" class="form-horizontal">
                    <div class="form-froup col-sm-12" >
                        <label for="username" class="col-sm-6 control-label">Username:</label>
                        <div class="col-sm-6">
                        <input id="username" ng-model="user.username" type="text" placeholder="Username" required/>
                        </div>
                    </div>
                    <div class="form-froup col-sm-12">
                        <label for="password" class="col-sm-6 control-label">Pasword:</label>
                        <div class="col-sm-6">
                        <input id="password"  type="password" placeholder="Password" name='password'
                        ng-model="user.password" required/>
                        </div>
                    </div>
                    <div class="form-froup" col-sm-12>
                        <label for="password_confirm" class="col-sm-6 control-label">Confirm pasword:</label>
                        <div class="col-sm-6">
                        <input id="password_confirm" type="password" placeholder="Confirm Password" 
                        name='password_confirm' ng-model="user.password_verify" required/>
                        </div>
                    </div>
                    <div class="form-froup col-sm-12">
                        <label for="email" class="col-sm-6 control-label">Email:</label>
                        <div class="col-sm-6">
                        <input id="email" ng-model="user.email" type="email" placeholder="Email" required/>
                        </div>
                    </div>                        
                    <div class="col-sm-6 col-sm-offset-3" role="group">
                    <br>
                    <button  type="submit"  class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create a count</button>
                    </div>
                </form>
                <div class="col-sm-12">
                    <br>
                    <div class="alert alert-danger col-sm-6 col-sm-offset-3" role="alert" ng-show="error_afiliate">
                    {{error_afiliate}}</div>     
                </div>
                <div class="text-right col-sm-4 col-sm-offset-8">
                <a class="text-info text-right" ng-click="changeHaveUser()" >I have an account</a>
                </div>
            </div>
        </div>
    </div><!-- container-fluid -->

    <footer>
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                Created by Rafael Torres
                            </div>
                            <div class="col-sm-6 text-center">
                                Twitter: <a href="http://twitter.com/rafasis1986">@Rafasis1986</a>
                            </div>
                        </div>
                   </footer>
                </div>
            </div>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="Scripts/index.js"></script>
</body>
</html>
