html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 65px;
}

.view {
    padding: 60px;
}

footer {
    margin-top:10px;
    font-weight: bold;
}

.grid {
    width: 640px;
}

