<div class="container view">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-info text-center">Find the Alternatives to a Reddit Name</h3>
            </div>
            <div class="panel-body">
                <center>
                    <form ng-submit="geListReddits()" >
                        <div class="form-froup">
                            <label for="redditName" class="col-sm-6 control-label text-right">Reddit Name:</label>
                            <div class="col-sm-6 text-left">
                            <input id="redditName" ng-model="reddit.name" type="text" required/>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="btn-group" role="group" class="col-sm-6 col-sm-offset-3">
                            <button  type="submit" value="Login"  class="btn btn-primary">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Check Reddit
                            </button>
                        </div>
                    </form>
                    <br>
                    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                </center>
            </div>
        </div><!-- panel panel-default -->

        <div class="panel panel-default" ng-show="listAlternatives.length > 0">
            <div class="panel-heading">
                <h3 class="text-success text-center">List of ocurrences to reddit name: {{reddit.name}}</h3>
            </div>
            <ul ng-repeat="item in listAlternatives" class="list-group">
                <li class="list-group-item">
                    <span class="badge" title="Number of suscribers">{{item.subscribers}}</span>{{item.display_name}}
                </li>
            </ul>
        </div><!-- panel panel-default -->
    </div><!--col-sm-10 col-sm-offset-1 -->
</div>