<div class="container view">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-warning text-center">Are you sure to log out?</h3>
            </div>
            <div class="panel-body">
                <center>
                    <form ng-submit="logout()" >
                    <div class="btn-group" role="group" class="col-sm-8 col-sm-offset-2">
                        <button  type="submit" value="yes"  class="btn btn-success" >
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> YES
                        </button>
                    </div>
                    </form>
                </center>
            </div>
        </div><!-- panel panel-default -->

        <div class="panel panel-default" ng-show="submissionsData.length > 0">
            <div class="panel-heading">
                <h3 class="text-success text-center">List of submissions for: {{reddit.name}}</h3>
            </div>
            <div id="grid3" ui-grid="gridSubmissions">
        </div><!-- panel panel-default -->
    </div><!--col-sm-10 col-sm-offset-1 -->
</div>