<div class="container view">
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    <div class="col-sm-10 col-sm-offset-1">
    	<div class="col-sm-6">
	    	<div class="panel panel-default" ng-show="canAffiliate()">
				<div class="panel-heading">
					<h3 class="text-info text-center">Add subreddit</h3>
				</div>
				<div class="panel-body">
	                <center>
	                    <form ng-submit="addSubReddit()" >
	                        <div class="form-froup">
	                            <label for="redditNameAdd" class="col-sm-4 control-label text-right">Reddit Name:</label>
	                            <div class="col-sm-8 text-left">
	                            <input id="redditNameAdd" ng-model="name_add" type="text" required/>
	                            </div>
	                        </div>
	                        <br>
	                        <br>
	                        <br>
	                        <div class="btn-group" role="group" class="col-sm-8 col-sm-offset-2">
	                            <button  type="submit" value="Add"  class="btn btn-success btn-sm">
	                            Add  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	                            </button>
	                        </div>
	                    </form>
	                    <br>
	                    <div class="alert alert-danger" role="alert" ng-show="error_affiliate">
	                    {{error_affiliate}}
	                    </div>
	                </center>
	            </div>
			</div><!-- panel -->
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default" ng-show="canDisaffiliate()">
				<div class="panel-heading">
					<h3 class="text-info text-center">Remove subreddit</h3>
				</div>
				<div class="panel-body">
	                <center>
	                    <form ng-submit="removeSubReddit()" >
	                        <div class="form-froup">
	                            <label for="redditNameSub" class="col-sm-4 control-label text-right">Reddit Name:</label>
	                            <div class="col-sm-8 text-left">
	                            <input id="redditNameSub" ng-model="name_remove" type="text" required/>
	                            </div>
	                        </div>
	                        <br>
	                        <br>
	                        <br>
	                        <div class="btn-group" role="group" class="col-sm-8 col-sm-offset-2">
	                            <button  type="submit" value="remove" class="btn btn-warning btn-sm">
	                            Remove <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
	                            </button>
	                        </div>
	                    </form>
	                    <br>
	                    <div class="alert alert-danger" role="alert" ng-show="error_disaffiliate">
	                    {{error_disaffiliate}}
	                    </div>
	                </center>
	            </div>
			</div>
		</div>
		<div class="col-sm-12">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<h3 class="text-info text-center">This are all your subreddits saved in the system</h3>
	    		</div>
	    		<div id="grid1" ui-grid="gridOptions">	
	    	</div>
	    </div>
    </div>
</div>